.selected {
  border-style: solid;
  border-width: 10px;
  border-color: blue;
}

.wrong {
  border-style: solid;
  border-width: 10px;
  border-color: red;
}

.correct {
  border-style: solid;
  border-width: 10px;
  border-color: green;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}